<template>
    <div>
        <vue-loading :active="this.req.isLoading"></vue-loading>
        <account-detail :user="user" v-if="user.card_number"></account-detail>
        <order-card v-if="! user.card_number"></order-card>
        <order-accounts v-if="! user.account_type"></order-accounts>
    </div>
</template>

<script>
    import AccountDetail from './index/AccountDetail'
    import OrderCard from './index/OrderCard'
    import OrderAccounts from './index/OrderAccounts'
    import {Request} from "../../classes/Request"
    import VueLoading from 'vue-element-loading'

    export default {
        name: 'Index',

        components: {
            AccountDetail,
            VueLoading,
            OrderCard,
            OrderAccounts
        },

        data(){
            return {
                req: new Request(),
                user: {}
            }
        },

        created(){
            let self = this
            this.req.get('/account-api/user-data')
                .then(function (response) {
                    self.user = response
                })
        }
    }
</script>