<template>
    <div style="height: 100%">
        <vue-loading :active="this.req.isLoading"></vue-loading>
        <div class="double-block" v-for="(item, index) in this.news" :key="index">
            <div class="sb-t acc-nums tac">
                <div class="block-title">Последние новости</div>
                <div class="block-content">
                    <div class="news-block-title">
                        {{ item.title }}
                    </div>
                    <div class="news-block-text" v-html="item.content"></div>
                    <div>
                        <hr>
                        {{ item.created_at }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {Request} from '../../classes/Request'
    import VueLoading from 'vue-element-loading'

    export default {
        name: 'News',
        components: {
            VueLoading
        },

        data() {
            return {
                req: new Request(),
                news: {},
            }
        },

        created() {
            let self = this
            this.req.get('/account-api/news')
                .then(function (data) {
                    self.news = data.data
                })
        },
    }
</script>