<template>
    <div>
        <div class="table-wrapper">
            <div>
                <nav class="navbar" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        <a role="button" class="navbar-burger burger"
                           aria-label="menu" aria-expanded="false"
                           data-target="navbarBasicExample"
                           @click="menuIsActive = ! menuIsActive"
                        >
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>

                    <div class="navbar-menu" :class="{'is-active': menuIsActive}">
                        <div class="navbar-start">
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link">
                                    {{ data.tableName }}
                                </a>
                                <div v-if="hasAction('create')" class="navbar-dropdown">
                                    <a class="navbar-item"
                                       @click="openModalForm({fields: data.fields, itemName: data.itemName, apiUrl: data.apiUrl })"
                                    >Новый {{ data.itemName }}</a>
                                </div>
                            </div>
                        </div>

                        <div class="navbar-end">

                        </div>
                    </div>
                </nav>
            </div>
            <div style="height: 100%">
                <table v-if="! isLoading" class="table is-fullwidth is-bordered is-hoverable">
                    <thead>
                    <tr>
                        <th v-for="(column, index) in data.columns" :key="index">
                            {{ column.label }}
                        </th>
                        <th v-if="hasActions()">Действия</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th v-for="(column, index) in data.columns" :key="index">
                            {{ column.label }}
                        </th>
                        <th v-if="hasActions()">Действия</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr v-for="(item, index) in items" :key="index">
                        <td v-for="(column, index) in data.columns" :key="index">
                            {{ displayValue(item, column)}}
                        </td>
                        <td>
                            <a v-if="hasAction('detail')" style="margin-left: 5px" title="Подробнее"><i class="fa fa-file-text"></i></a>
                            <a v-if="hasAction('edit')" style="margin-left: 5px" title="Редактировать"
                               @click="openModalForm({
                                   item: item,
                                   fields: data.fields,
                                   action: 'edit',
                                   itemName: data.itemName + ' ' + item[data.itemColumnNameForFormTitle],
                                   apiUrl: data.apiUrl
                               })"
                            ><i class="fa fa-edit"></i></a>

                            <a v-if="hasAction('destroy')" title="Удалить"><i class="fa fa-remove"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <vue-loading :active="isLoading"></vue-loading>
            </div>
        </div>
        <pagination :links="links" :meta="meta" :api-url="data.apiUrl"></pagination>
        <modal-form></modal-form>
    </div>
</template>

<script>
    import {mapState, mapActions, mapMutations} from 'vuex'
    import Pagination from './Pagination'
    import VueLoading from 'vue-element-loading'
    import ModalForm from '../components/ModalForm'

    export default {
        name: 'datatable',
        // @TODO Check single named component
        components: {
            Pagination,
            VueLoading,
            ModalForm,
        },
        props: {
            data: Object
        },

        data() {
            return {
                menuIsActive: false,
            }
        },

        created() {
            this.setItems(this.data.apiUrl)
            this.setApiUrl(this.data.apiUrl)
        },

        computed: {
            ...mapState('dataTable', [
                'items',
                'isLoading',
                'links',
                'meta',
            ])
        },

        methods: {
            ...mapActions('modalForm', [
                'openModalForm'
            ]),

            ...mapMutations('dataTable', [
                'setItems',
                'setApiUrl'
            ]),

            displayValue(item, column) {
                if ('type' in column) {
                    if (column.type === 'boolean') {
                        return item[column.name] ? 'Да' : 'Нет'
                    }

                    if (column.type === 'float') {
                        return parseFloat(item[column.name]).toFixed(2)
                    }
                }

                return item[column.name]
            },

            // @FIXME remove this from here and from views
            hasActions() {
                return 'actions' in this.data
            },

            hasAction(action){
                return this.data.actions.includes(action)
            },
        },
    }
</script>