<template>
    <div class="modal" :class="{'is-active': modalForm.isOpen}">
        <div class="modal-background" @click="closeModalForm()"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">{{ modalForm.title }}</p>
                <button class="delete" aria-label="close" @click="closeModalForm()"></button>
            </header>
            <section class="modal-card-body">
                <component :is="field.componentName"
                           v-for="(field, index) in modalForm.fields"
                           :data="field"
                           :key="index"
                ></component>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success"
                        :class="{'is-loading': modalForm.isSubmitting}"
                        @click="makeSubmit()"
                >Save changes</button>
                <button class="button" @click="closeModalForm()">Cancel</button>
            </footer>
        </div>
    </div>
</template>

<script>
    import {mapState, mapActions, mapMutations} from 'vuex'
    import TextField from './ModalForm-fields/TextField'
    import SelectField from './ModalForm-fields/SelectField'
    import EditorField from './ModalForm-fields/EditorField'

    export default {
        components:{
            TextField,
            SelectField,
            EditorField,
        },

        computed: {
            ...mapState([
                'modalForm'
            ]),
        },

        methods:{
            ...mapActions('modalForm', [
                'closeModalForm',
                'submitForm',
            ]),

            ...mapMutations('dataTable', [
                'setItems'
            ]),

            makeSubmit(){
                this.submitForm().then(() => {
                    // @FIXME Make update of datatable items without reloading all items,
                    // just from submit response
                    this.setItems()
                })
            }
        },
    }
</script>