<template>
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
            <li v-for="(page, index) in meta.last_page" :key="index">
                <a class="pagination-link"
                   :class="{'is-current is-disabled' : page === meta.current_page }"
                   @click="page !== meta.current_page ? handlePagination(apiUrl + '?page=' + page) : ''"
                >{{ page }}</a>
            </li>
        </ul>
    </nav>
</template>

<script>
    export default {
        name: 'Pagination',
        props: {
            links: Object,
            meta: Object,
            apiUrl: String
        },

        methods: {
            handlePagination(url)
            {
                this.$parent.setItems(url)
                this.$parent.setApiUrl(url)
            }
        }
    }
</script>

<style>
    .is-current{
        cursor: default;
    }
</style>