<template>
    <section class="about">
        <div>
            <h1>О нас</h1>
            <p>
                Вам теперь не надо тратить время и нервы на поиск в карманах или сумке
                необходимой суммы или ожидания сдачи в переполненной маршрутке в час пик.
                С помощью Comford Card повседневные заботы теперь не буду отвлекать
                ваше внимание от более важных дел.
                <!--Теперь нет необходимости отвлекать водителя оплатой проезда наличными, тем-->
                <!--самым подвергая опасности себя и остальных пассажиров.-->
                <br>
                Благодаря программе лояльности, вы не только существенно сократите расходы,
                но и сможете получать дополнительные бонусы во время проведения специальных акций!
                И самое главное помогая развитию проекта вы улучшаете свое финансовое благосостояние!
            </p>
        </div>
    </section>
</template>

<script>
    export default {
        data() {
            return {}
        },
        methods: {}
    }
</script>