<template>
    <section class="advantages">
        <h2 class="tac">Преимущества</h2>
        <div class="switcher flex centered tac">
            <div id="active-tab" :class="{bgRight: switcher}"></div>
            <div class="flex-dimidia" id="userswitch" v-on:click="switcher = false" :class="{active: (!switcher)}">Пользователю</div>
            <div class="flex-dimidia" id="businessswitch" v-on:click="switcher = true" :class="{active: (switcher)}">Бизнесу</div>
        </div>
        <div class="flex" id="forusers" v-if="!switcher">
            <div class="flex-tertium">
                <div>
                    <svg width=90 height=110 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <image xlink:href="/images/speed.svg" width="90" height="110" />
                    </svg>
                </div>
                <h5>Скорость</h5>
                <p>Платить карточкой Comfort Card гораздо быстрее, чем наличными. Бесконтактная технология производит оплату мгновенно, не создавая очередей возле касс.</p>
            </div>
            <div class="flex-tertium">
                <div>
                    <svg width=139 height=87 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <image xlink:href="/images/comfort.svg" width="139" height="87" />
                    </svg>
                </div>
                <h5>Удобство</h5>
                <p>Comfort Card позволяет производить оплату просто прикладывая карту к считывающему устройству. Карту удобно пополнять как дома, так и во многих местах мгновенного пополнения</p>
            </div>
            <div class="flex-tertium">
                <div>
                    <svg width=100 height=142 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <image xlink:href="/images/economy.svg" width="100" height="142" />
                    </svg>
                </div>
                <h5>Экономия</h5>
                <p>Обширная дисконтная сеть позволяет получать удивительные возможности практически во всех аспектах вашей жизни</p>
            </div>
        </div>
        <div class="flex" id="forbusiness" v-if="switcher">
            <div class="flex-tertium">
                <div>
                    <svg width=120 height=120 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <image xlink:href="/images/raise.svg" width="120" height="120" />
                    </svg>
                </div>
                <h5>Рост продаж</h5>
                <p>Широкая сеть владельцев Comfort Card – это уже нами созданный огромный рынок потребителей, которые потенциально могут стать вашими клиентами</p>
            </div>
            <div class="flex-tertium">
                <div>
                    <svg width=120 height=120 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <image xlink:href="/images/struct.svg" width="120" height="120" />
                    </svg>
                </div>
                <h5>Собственные программы лояльности</h5>
                <p>Comfort Card позволяет производить оплату просто прикладывая карту к считывающему устройству. Карту удобно пополнять как дома, так и во многих местах мгновенного пополнения</p>
            </div>
            <div class="flex-tertium">
                <div>
                    <svg width=64 height=101 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <image xlink:href="/images/lamp.svg" width="64" height="101" />
                    </svg>
                </div>
                <h5>Удобство, простота, скорость</h5>
                <p>Простота и скорость технологии позволяют использовать терминалы Comfort Card с минимальным участием персонала и без специального обучения</p>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data() {
            return {
                switcher: false
            }
        }
    }
</script>