<template>
    <section class="faq flex vcentered plenum">
        <div class="flex-dimidia tar">
            <h3>Часто задаваемые<br>вопросы</h3>
        </div>
        <div class="flex-dimidia tal">
            <div class="question-block" v-for="question in questions">
                <div class="question" @click="question.isActive = ! question.isActive">{{ question.question }}</div>
                <div class="answer" v-if="question.isActive">{{ question.answer }}</div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data(){
            return {
                questions: [
                    {
                        question: '- Что такое Comfort Card?',
                        answer: 'Это единая универсальная система комфортных платежей и новых финансовых возможностей от привычных дел!',
                        isActive: false
                    },
                    {
                        question: '- Как получить карту Comfort Card?',
                        answer: 'Карту можно заказать на сайте либо купить на презентации.',
                        isActive: false
                    },
                    {
                        question: '- В чем выгода использования Comfort Card?',
                        answer: 'Comfort Card дает возможность получать бонусы делая привычные дела, а также приумножить свой капитал помогая в развитии проекта.',
                        isActive: false
                    }
                ]
            }
        },

        methods: {

        }
    }
</script>