<template>
    <section class="join-steps tac flex">
        <div class="join-step">
            <div>
                <svg width=142 height=170 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <image xlink:href="/images/register.svg" width="142" height="170" />
                </svg>
            </div>
            <div>Зарегистрируйтесь</div>
        </div>
        <div class="join-step">
            <div class="join-line jl-left"></div>
            <div>
                <svg width=170 height=170 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <image xlink:href="/images/buycard.svg" width="170" height="170" />
                </svg>
            </div>
            <div>Приобретите карту</div>
            <div class="join-line jl-right"></div>
        </div>
        <div class="join-step">
            <div>
                <svg width=170 height=170 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <image xlink:href="/images/getrewards.svg" width="170" height="170" />
                </svg>
            </div>
            <div>Получайте бонусы</div>
        </div>
    </section>
</template>

<script>
    export default {
        data() {
            return {
            }
        }
    }
</script>