/*** RESET CSS ***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: normal;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/***RESET***/
.in-process {text-align: center; font-size: 24px; color: #299ce5}
.in-process i {
    font-size: 200px; 
    animation-name: rotation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-webkit-keyframes rotation {
0% {-webkit-transform:rotate(0deg);
-moz-transform:rotate(0deg);
-o-transform:rotate(0deg);
transform:rotate(0deg);}
100% {-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-o-transform:rotate(360deg);
transform:rotate(360deg);}
}
@-moz-keyframes rotation {
0% {-webkit-transform:rotate(0deg);
-moz-transform:rotate(0deg);
-o-transform:rotate(0deg);
transform:rotate(0deg);}
100% {-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-o-transform:rotate(360deg);
transform:rotate(360deg);}
}
@-o-keyframes rotation {
0% {-webkit-transform:rotate(0deg);
-moz-transform:rotate(0deg);
-o-transform:rotate(0deg);
transform:rotate(0deg);}
100% {-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-o-transform:rotate(360deg);
transform:rotate(360deg);}
}
@keyframes rotation {
0% {-webkit-transform:rotate(0deg);
-moz-transform:rotate(0deg);
-o-transform:rotate(0deg);
transform:rotate(0deg);}
100% {-webkit-transform:rotate(360deg);
-moz-transform:rotate(720deg);
-o-transform:rotate(360deg);
transform:rotate(360deg);}
}

/*** GLOBAL ***/
html, body {
    width: 100%;
    height: 100%;
    color: #717b7f;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.ib {display: inline-block}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1 {font-size: 36px;}
h2 {font-size: 30px;}
h3 {font-size: 24px;}
h4 {font-size: 18px;}
h5 {font-size: 14px;}
h6 {font-size: 12px;}
a {
    color: #5b9fc3;
    text-decoration: none;
}
a:hover {color: #185780;}
a.btn {
    padding: 10px 25px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    vertical-align: middle;
    border-radius: 4px;
}
a.btn:hover, a.block-btn:hover {color: #fff}
a.yellow {background: #f6b428;}
a.blue, button.blue {background: #299ce5;}
/*** Block btns ***/
a.block-btn.green, button.green {background: #41b70d; border-bottom: 3px solid #309503}
a.block-btn.green:hover, button.green:hover {background: #4fc41b; border-bottom: 3px solid #41b70d}
a.block-btn.green:active, button.green:active {border-bottom: 0; margin-top: 3px;}

a.block-btn.blue, button.blue {background: #299ce5; border-bottom: 3px solid #1180c6}
a.block-btn.blue:hover, 
a.upgrade-btns:hover, 
button.blue:hover {background: #45b1f5; border-bottom: 3px solid #299ce5}
a.block-btn.blue:active, 
button.blue:active {border-bottom: 0; margin-top: 3px;}
button.blue:active {margin-top: 13px}
.tac {text-align: center}
/*header.main .top-menu-container, */
.table-style {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
}
footer .footer-content {
    display: table;
    position: relative;
    margin: auto;
    max-width: 1100px;
    vertical-align: middle;
}
.account-content .profile-img, .account-content .profile-info, .ts-tc {
    display: table-cell;
    vertical-align: middle;
}
.ts-tr {
    display: table-row;
    width: 100%;
}
.half {width: 50%}
.quater {width: 25%}
/*** FOOTER ***/
footer {
    height: auto;
    padding: 40px 10px;
    background: #103955;
}
.footer-content {
    width: 100%;
    color: #3e7496;
}
.footer-content ul.footer-blocks {
    display: table;
    width: 100%;
}
.footer-content ul.footer-blocks li {
    display: table-cell;
    width: 25%;
}
.footer-content ul.footer-blocks li .title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #3e7496;
    margin-bottom: 10px;
}
.footer-content ul.footer-blocks li a, .footer-content a {
    line-height: 1.4;
    font-size: 14px;
    color: #78a5c4;
}
.footer-content ul.footer-blocks li a:hover, .footer-content a:hover {
    color: #abd4f0;
}
.bottom-menu {text-align: center;}
.copyright {
/*    margin-top: 20px;*/
    font-size: 12px
}
/**** Account Page Styles ****/
header.account {
    position: absolute;
    display: table;
    width: 100%;
    height: 60px;
    background: #299ce5;
}
header.account .top-table {
    position: relative;
    display: table-cell;
}
header.account div, .logo div {
    display: inline-block;
    vertical-align: middle;
}
header.account .logo-img, .logo .logo-img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 15px;
    width: 30px;
    height: 30px;
    background: url('/images/acc-logo.png') no-repeat;
}
header.account .logo-title, .logo .logo-title {
    font-family: 'Comfortaa', sans-serif;
    color: #fff;
    vertical-align: middle;
}
.logo .logo-title {text-transform: none; font-weight: 400;}
header.account .header-toolbar {
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    text-align: right;
    color: #fff;
}
header.account .header-toolbar a {
    color: #fff;
    font-size: 12px;
}
.account-content {
    display: table;
    box-sizing: border-box;
    padding-top: 60px;
    width: 100%;
    height: 100%;
    background: #edf2f6;
}
.account-content .menu, .account-content .content-container {
    display: table-cell;
}
.account-content .menu {
    width: 230px;
    height: 100%;
    background: #44484a;
    color: #edf2f6;
}
.account-content .menu .profile {
    display: table;
    padding: 15px;
}
.account-content .profile-img img,
.account-content .profile-img-big img {
    border-radius: 50%;
    border: 2px solid #808182;
    background: #808182;
}
.account-content .profile-img, 
.account-content .profile-img img {
    width: 45px;
    height: 45px;
}
.account-content .profile-img-big,
.account-content .profile-img-big img {
    width: 150px;
    height: 150px;
    border-width: 4px;
}
.account-content .profile-info {
    width: 100%;
    padding-left: 15px;
    font-weight: 600;
}
.account-content .profile-info .name {
    font-size: 14px;
    margin-bottom: 4px;
}
.account-content .profile-info .exit {
    font-size: 12px;
}
.account-content .profile-info .exit a {
    color: #808182;
}
.account-content .profile-info .exit a:hover {
    color: #9b9b9b;
}
.account-content .menu ul.cats li {
    font-size: 13px;
    text-transform: uppercase;
    color: #808182;
    line-height: 2.3;
}
.account-content .menu ul.cats li ul.subcats{
    margin-bottom: 5px;
}
.account-content .menu ul.cats li ul.subcats li, .cat-title {
    padding-left: 15px;
}
.account-content .menu ul.cats li ul.subcats a li  {
    color: #c9ccce;
    text-transform: none;
    padding-left: 30px;
}
.account-content .menu ul.cats li ul.subcats a:hover li, .account-content .menu ul.cats li ul.subcats a.active li {
    background: #373b3c;
    border-left: 3px solid #2faeff;
}
.account-content .menu ul.cats li ul.subcats a.active li {
    color: #fff;
}
.content-container {
    vertical-align: top;
}
.content {
    display: table;
    max-width: 1200px;
    width: 100%;
    padding: 10px;
}

/*** MAYBE DON'T NEED ***/
.content.text-content {
    font-size: 14px;
    line-height: 1.5;
}
.content.text-content > h2 {
    margin-top: 0;
    padding: 20px 0 0 10px
}
.content.text-content p {
    text-indent: 25px;
    margin-bottom: 5px;
    padding-left: 10px;
}
/*** MAYBE DON'T NEED ***/

.content-container .page-title-stripe {
    display: table;
    width: 100%;
    height: 70px;
    background: #dfe6ec;
    border-bottom: 1px solid #d1dde6;
}
.sb-c, .content-container .page-title-stripe .title, .content-container .page-title-stripe .button {
    display: table-cell;
    vertical-align: middle;
}
.content-container .page-title-stripe .title {
    font-size: 16px;
    font-weight: 500;
    color: #787f82;
    box-sizing: border-box;
    padding-left: 30px;
}
.content-container .page-title-stripe .button {
    text-align: right;
    padding-right: 20px;
}
.standard-block, .double-block, .half-block, .full-block {
    display: table;
    vertical-align: middle;
    float: left;
    padding: 10px;
}
.standard-block > div, .double-block > div, .half-block > div, .full-block > div, .block-btn {
    border: 1px solid #d1dde6;
    border-radius: 3px;
    display: table;
    width: 100%;
}
/*.standard-block {width: 380px;}*/
.standard-block {width: 33.3%; max-width: 33.3%;}
/*.double-block {width: 780px;}*/
.double-block {width: 66.6%;}
.half-block {width: 50%}
.full-block {width: 100%}
.standard-block.white-bg > div, .double-block.white-bg > div, .half-block.white-bg > div, .full-block > div {background: #fff;}
.standard-block > div.ad {line-height: 0}
.ad img {width: 100%;}
.no-border {border: none}

.sb-c.tac {text-align: center;}
.sb-c.acc-nums {height: 130px}
.sb-c.text {padding: 20px 25px;}
.sb-c.text p {text-indent: 25px; font-size: 14px;}
.sb-t {
    display: table-cell;
    vertical-align: top;
}
.sb-t .block-title {
    background: #f6f8fa;
    vertical-align: top;
    padding: 15px;
    border-bottom: 1px solid #d1dde6;
    color: #a7b6c1;
    font-size: 14px;
}
.sb-t .block-title .right-text {float: right}
.sb-t .block-content {
    background: #fff;
    padding: 20px 15px;
    font-size: 13px;
    color: #717b7f;
}
a.block-content {
    display: block;
}
.add {padding: 0; line-height: 0;}
.add img {max-width: 100%;}
.acc-sum {
    font-size: 34px;
    font-weight: 600;
    color: #299ce5;
    line-height: 1.5;
}
.acc-desc {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #a7b6c1;
}
.account-info-table .ts-tr .ts-tc {
    padding: 5px 0;
/*    border-bottom: 1px solid #eceff4;*/
}
.account-info-table .ts-tr .ts-tc:last-child {
    padding: 0 0 0 10px;
    text-align: right;
}
.block-btn {
    text-align: center;
    padding: 10px 0;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
}
/*** PROFILE ***/
.profile-t .ts-tc.photo {width: 20%; vertical-align: top;}
.profile-t .ts-tc.info {width: 85%; padding-left: 20px; vertical-align: top;}
.profile-t .ts-tc.info .half {display: inline-block; vertical-align: top;}
.profile-img-big {margin: auto;}
.name-stroke {margin-top: 10px; text-align: center; font-weight: 600;}
.info-stroke {margin-bottom: 15px}
.info-stroke:first-child {}
.info-stroke-title {font-size: 14px; font-weight: 600;}
.info-stroke-content, a.profile-btn, .birth-date-small, .birth-date-big {
/*    width: 300px; */
    width: 90%; 
    padding: 10px 10px; 
    margin-top: 3px; 
/*    background: #eceff4;*/
    background: #edf2f6;
    border: none;
    font-size: 14px;
    color: #717b7f;
}
.info-stroke-content::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #717b7f;
}
.info-stroke-content::-moz-placeholder { /* Firefox 19+ */
  color: #717b7f;
}
.info-stroke-content:-ms-input-placeholder { /* IE 10+ */
  color: #717b7f;
}
.info-stroke-content:-moz-placeholder { /* Firefox 18- */
  color: #717b7f;
}
select.info-stroke-content {width: 95%;}
.birth-date-small, .birth-date-big {display: inline-block}
.birth-date-small {width: 23%}
.birth-date-big { width: 47%}
a.profile-btn {
    display: block;
    text-align: center;
    background: #abd4f0;
    color: #fff;
}
a.profile-btn:hover {background: #299ce5;}
/*** Pakety ***/
.pack-t .ts-tr .ts-tc {width: 18%; padding: 10px; border: 1px solid #fff; background: #f6f8fa; text-align: center;}
.pack-t .ts-tr .ts-tc:last-child {width: 28%; font-weight: 700; 
/*    background: #ffeeee; color: #e33e5d*/
}
.pack-t .ts-tr .ts-tc.link-tc {padding: 0}
.pack-t .ts-tr .ts-tc:first-child {background: #edf2f6; text-align: left; font-weight: 600;}
.pack-t .ts-tr .ts-tc.active {background: #2faeff; background: #8AC5EA; color: #fff; }
.pack-t .ts-tr .ts-tc.active span.blue {color: #abd4f0}
.pack-t .ts-tr .ts-tc a {display: block; width: 100%; padding: 10px 0}
.pack-t .ts-tc.price {font-size: 32px; font-weight: 600}
.pack-t .ts-tc.price div {font-size: 14px; font-weight: 400}
.pack-t .ts-tc.price div span {font-weight: 600; font-size: 16px;}
.silver {background: #f6b428; color: #fff}
.gold {background: #41b70d; color: #fff}
.platinum {background: #f62828; color: #fff}
.link-tc a.blue {color: #fff}
.pack-t .ts-tc span.blue {color: #299ce5; font-size: 18px;}
a.upgrade-btns:hover {border-bottom: none;}


/*** SMH***/
.news-block-img img {
    max-width: 100%;
}
.news-block-title {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    line-height: 2em;
}
.news-block-text {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    line-height: 1.4em;
}
/*** DEPOSIT FUNDS ***/
.deposit-method-link {
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 10px;
    border-bottom: 1px solid rgba(41, 156, 229, 0.2);
}
/*** WALLET HISTORY ***/
.wallet-history-t {width: 100%; }
.wallet-history-t .ts-tc {
    padding: 5px 10px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}
.wallet-history-t .header-row .ts-tc {
    color: #fff;
    font-weight: 600;
    background: #209ae8;
}
/*** OPENING BLOCKS WITHOUT JS ***/
/* анимация при появлении скрытых блоков */
@-moz-keyframes fade {
    from { opacity: 0}
to { opacity: 1; }
}
@-webkit-keyframes fade {
    from { opacity: 0}
to { opacity: 1; }
}
@keyframes fade {
    from { opacity: 0}
to { opacity: 1; }   
}
/* скрываем чекбоксы и блоки с содержанием */
.hide {display: none}
.hide + label ~ div {
    display: block;
    overflow: hidden;
    height: 0;
}
/* вид текста label */
.hide + label,
.hide:checked + label {
    color: #5b9fc3;
    padding: 0;
    cursor: pointer;
}
.hide + label:hover,
.hide:checked + label:hover {color: #185780}
/* вид текста label активном переключателе */
.hide:checked + label {
    border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    height: 100%;
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid rgba(41, 156, 229, 0.2);
/* анимации при появлении */
    -webkit-animation:fade ease-in 0.5s; 
    -moz-animation:fade ease-in 0.5s;
    animation:fade ease-in 0.5s; 
}
/*** Login link ***/
.login-link {
    cursor: pointer;
}
.modal-window-container {
    z-index:9999;
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color:rgba(255,255,255,0.6);
    display:block;
}
.modal-window {
    border-radius: 4px;
    text-align:center;
    line-height: 36px;
    background: #fff;
}
.modal-title {
  padding:5px;
    color: #299ce5;
  font-style:normal;
  font-size:28px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 20px;
}
.modal-window-block {
    margin: 35% auto;
  text-align:center;
  overflow:auto;
  padding:10px 20px;
  color:#666666;
  font-weight:400;
  font-size:17px;
    padding-bottom: 15px;
}
.modal-window-block input {
    display: block;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    font-size: 16px;
    font-weight: 100;
    border-bottom: 3px solid #d1d1d1;
}
.modal-window-block button {
    margin-bottom: 10px;
}
.modal-window-block a {
    font-size: 13px;
}
.modal-window-btn {
    font-family: 'Open Sans', sans-serif;
    cursor:pointer;
    color: #fff;
}
#myfond_gris {
  display: none;
  background-color:#000000;
  opacity:0.4;
  width:100%;
  height:100%;
  z-index:9998;
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
}
.logreg-form {
    width:300px;
    margin: 30px auto 0;
    padding: 15px;
    background: #fff;
}
.logreg-form h1 {
    font-size: 20px;
}
.logreg-form input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #eee;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.logreg-form button {
    display: block;
    width: 100%;
    padding: 15px 10px;
    color: #fff;
    background: #299ce5;
    border: none;
}
.logreg-form .links {
    margin-top: 10px;
    color: #5b9fc3;
}
.logreg-form a {
    font-size: 13px;
}

.pack-title,
.pack-desc-stroke,
.pack-price,
.btn-buy {
    text-align: center;
    padding: 0 15px;
}
.pack-title {
    margin-top: 20px;
    font-size: 42px;
    font-weight: 700;
    color: #1180c6;
}
.pack-desc-stroke {
    font-size: 17px;
    font-weight: 400;
    margin: 10px auto;
}
.pack-price {
    font-size: 32px;
    font-weight: 600;
    margin: 20px auto 30px;
}
.btn-buy {
    padding: 20px;
    background: #1180c6;
    color: #fff
}
.card-bind-text {
    padding: 20px;
    text-align: center;
}
.card-bind-input {
    display: block;
    text-align: center;
    margin: 0 auto 20px;
    padding: 10px 15px;
    border-radius: 15px;
    border: 1px solid #efefef
}
.card-bind-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d6d6d6;
}
.card-bind-input::-moz-placeholder { /* Firefox 19+ */
    color: #d6d6d6;
}
.card-bind-input:-ms-input-placeholder { /* IE 10+ */
    color: #d6d6d6;
}
.card-bind-input:-moz-placeholder { /* Firefox 18- */
    color: #d6d6d6;
}
/*** NEW ***/
.pack-title,
.pack-desc-stroke,
.pack-price,
.btn-buy {
    text-align: center;
    padding: 0 15px;
}
.pack-title {
    margin-top: 20px;
    font-size: 42px;
    font-weight: 700;
    color: #1180c6;
}
.pack-desc-stroke {
    font-size: 17px;
    font-weight: 400;
    margin: 10px auto;
}
.pack-price {
    font-size: 32px;
    font-weight: 600;
    margin: 20px auto 30px;
    color: #444
}
.card-price {margin-top: 0;}
.btn-buy-pack {
    display: block;
    padding: 20px;
    background: #1180c6;
    color: #fff;
    text-align: center;
}
.btn-buy-pack:hover {
    color: #fff;
    background: #2796dd;
}
.card-bind-text {
    padding: 20px;
    text-align: center;
}
.card-bind-input {
    display: block;
    text-align: center;
    margin: 0 auto 20px;
    padding: 10px 15px;
    border-radius: 15px;
    border: 1px solid #efefef
}
.card-bind-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d6d6d6;
}
.card-bind-input::-moz-placeholder { /* Firefox 19+ */
    color: #d6d6d6;
}
.card-bind-input:-ms-input-placeholder { /* IE 10+ */
    color: #d6d6d6;
}
.card-bind-input:-moz-placeholder { /* Firefox 18- */
    color: #d6d6d6;
}
.btn-block {
    margin-bottom: 20px;
}