table.is-hoverable
  tbody
    tr:hover
      background-color: #e2e4e5 !important
      cursor: pointer
      user-select: none
      -moz-user-select: none
      -khtml-user-select: none
      -webkit-user-select: none
      -o-user-select: none

.table-wrapper
  height: 90%
  margin-bottom: 15px
  overflow-y: scroll

.table-wrapper::-webkit-scrollbar
  width: 3px

.table-wrapper::-webkit-scrollbar-track
  background: #f1f1f1

.table-wrapper::-webkit-scrollbar-thumb
  background: #888

.table-wrapper::-webkit-scrollbar-thumb:hover
  background: #555