<template>
    <div class="field">
        <label class="label">{{ data.label }}</label>
        <div class="control">
            <vue-editor
                    v-model="data.value"
                    @input="updateInput({name: data.name, value: data.value})"
            ></vue-editor>
        </div>
        <p v-if="hasError(data.name)" class="help is-danger">{{ getError(data.name) }}</p>
    </div>
</template>

<script>
    import {mapMutations, mapGetters} from 'vuex'
    import {VueEditor} from 'vue2-editor'

    export default {
        components: {
            VueEditor
        },

        props: {
            data: Object,
        },

        computed: {
            ...mapGetters('modalForm', [
                'hasError',
                'getError'
            ])
        },

        methods: {
            ...mapMutations('modalForm', [
                'updateInputData',
            ]),

            updateInput(data) {
                this.updateInputData({
                    name: data.name,
                    value: data.value
                })
            }
        }
    }
</script>