<template>
    <div class="field">
        <label class="label">{{ data.label }}</label>
        <div class="control">
            <div class="select" :class="{'is-danger' : hasError(data.name)}">
                <select :name="data.name" v-model="selected"
                        @change="updateInput({name: data.name, value: selected})"
                >
                    <option
                            v-for="(option, index) in data.options"
                            :value="option.value"
                            :key="index"
                    >{{ option.title }}</option>

                </select>
                <p v-if="hasError(data.name)" class="help is-danger">{{ getError(data.name) }}</p>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapMutations, mapGetters} from 'vuex'

    export default {
        props: {
            data: Object,
        },

        data(){
            return {
                selected: ''
            }
        },

        created(){
            this.selected = this.data.value
        },

        computed: {
            ...mapGetters('modalForm', [
                'hasError',
                'getError'
            ])
        },

        methods: {
            ...mapMutations('modalForm',[
                'updateInputData',
            ]),

            updateInput(data) {
                this.updateInputData({
                    name: data.name,
                    value: data.value
                })
            }
        }
    }
</script>