<template>
    <div class="field">
        <label class="label">{{ data.label }}</label>
        <div class="control">
            <input class="input"
                   :class="{'is-danger' : hasError(data.name)}"
                   :name="data.name"
                   :value="data.value"
                   @input="updateInput"
            >
        </div>
        <p v-if="hasError(data.name)" class="help is-danger">{{ getError(data.name) }}</p>
    </div>
</template>

<script>
    import {mapMutations, mapGetters} from 'vuex'

    export default {
        props: {
            data: Object,
        },

        computed:{
            ...mapGetters('modalForm', [
                'hasError',
                'getError'
            ])
        },

        methods: {
            ...mapMutations('modalForm', [
                'updateInputData',
            ]),

            updateInput(e){
                this.updateInputData({
                    name: e.target.name,
                    value: e.target.value
                })
            }
        }
    }
</script>