/*** General styles ***/
html {
    font-family: 'Exo 2', sans-serif;
    background: #eaf5fe;
}
html, body, #app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
hr {
    border: none;
}
sub {
    vertical-align: sub;
    font-size: smaller;
}
sup {
    vertical-align: super;
    font-size: smaller;
}
.ts {
    display: table;
}
.ts .ts-tc {
    display: table-cell;
}
.ts .ts-tr {
    display: table-row;
}
.ts, .ts .ts-tc {
    box-sizing: border-box;
    position: relative;
}
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    justify-content: space-around;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex.jc-bw {
    justify-content: space-between;
}
.flex.centered {
    justify-content: center;
    align-items: center;
}
.flex.vcentered {
    justify-content: center;
}
.flex.hcentered {
    align-items: center;
}
.flex-plenum {flex: 100%}
.flex-dimidia {flex: 50%}
.flex-tertium {flex: 33.33%}
.flex-quater {flex: 25%}

.plenum {width: 100%}
.dimidia {width: 50%}
.tertium {width: 33.33%}
.quater {width: 25%}
.plenum-h {height: 100%}
.dimidia-h {height: 50%}
.tertium-h {height: 33.33%}
.quater-h {height: 25%}
.clearfix {clear: both;}
.ib {
    display: inline-block;
}
.vam {
    vertical-align: middle;
}
.tac {
    text-align: center!important;
}
.tal {
    text-align: left!important;
}
.tar {
    text-align: right!important;
}
.nb {
    border: none;
}
h1, h2, h3, h4, h5, h6 {
    color: #202c35;
    line-height: 1.2;
    margin-bottom: 0.5em;
}
p {color: #7995ab}
h1 {font-size: 62px; font-weight: 700;}
h2 {font-size: 62px; font-weight: 700;}
h3 {font-size: 42px;}
h4 {}
h5 {font-size: 24px;}
h6 {}
p {
    line-height: 1.4;
}
.btn {
    padding: 12px 20px 14px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;
}
/*** General styles ***/
section {
    position: relative;
}
.first-scr {
    position: relative;
    /*max-width: 1920px;*/
    min-height: 100vh;
    margin: auto;
}
.main-bg {
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -20
}
.figure-1,
.figure-2,
.figure-3 {
    position: absolute;
    background: #E0EFFA;
    background: rgba(224, 239, 250, 1);
    transform: rotate(-45deg);
}
.figure-1 {
    right: -25vw;
    top: -10vh;
    width: 1461px;
    height: 571px;
    border-radius: 286px;
    -moz-border-radius: 286px;
    -webkit-border-radius: 286px;
}
.figure-2 {
    right: -27vw;
    top: 55vh;
    width: 659px;
    height: 257px;
    border-radius: 129px;
    -moz-border-radius: 129px;
    -webkit-border-radius: 129px;
}
.figure-3 {
    right: 30vw;
    top: -20vh;
    width: 430px;
    height: 168px;
    border-radius: 84px;
    -moz-border-radius: 84px;
    -webkit-border-radius: 84px;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 30px;
    height: 100px;
    justify-content: flex-end!important;
}
.btn-login {
    font-size: 16px;
    color: #48a2d9;
    border: 2px solid #48a2d9;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.btn-login:hover {
    color: #fff;
    background: #48a2d9;
}
.additional-img img {
    width: 765px;
    height: 560px;
}
.login-form-container {
}
.login-form {
    margin-left: 0;
    padding: 80px 200px 0 245px;
    width: 770px;
    height: 580px;
    background: url('/images/login-form.png');
    background-size: contain;
}
.login-form span {
    font-size: 14px;
    line-height: 1.3;
    color: #a2bace;
}
span.lf-small {
    font-size: 18px;
    font-weight: 600;
    color: #202c35;
}
span.lf-big {
    font-family: 'Comfortaa', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #48a2d9;
}
input {
    margin: 20px auto;
    width: 100%;
    display: block;
    font-size: 18px;
    font-weight: 400;
    padding: 16px 30px;
    border-radius: 30px;
    border: 1px solid #cfe2f1;
    outline: none!important;
}
input[type="submit"] {
    display: block;
    font-weight: 600;
    color: #fff;
    text-align: center;
    background: #48a2d9;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border: 0;
}
input::placeholder {
    color: #a2bace
}
input[type="submit"]:hover {
    cursor: pointer;
    background: #5bb3e8;
}
.first-scr .flex-dimidia {
    align-self: center;
    /*margin-top: 10vh;*/
}
.first-scr .card-flex {
    /*margin-top: 5vh;*/
}
.card {
    position: relative;
    padding-bottom: 100px;
}
.card-additional {
    margin: auto;
    width: 500px;
}
.additional-text {
    margin-left: 10px;
    font-weight: 500;
    color: #48a2d9
}
.login-form-container {
    position: relative;
    padding-top: 40px;
    z-index: 99;
    text-align: center;
}
.login-form-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    right: 45px;
    text-align: center;
}
.login-form-bg img {
    width: 765px;
}
.about > div {
    width: 35%;
    margin-left: 10%;
}
.join-steps svg {margin-bottom: 30px;}
.join-steps {
    margin: 20vh auto;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.4;
}
.join-step {
    position: relative;
    width: 300px;
    color: #48a2d9
}
.join-line {

}
.jl-left {

}
.jl-right {}
.switcher {
    position: relative;
    margin: auto;
    width: 360px;
    height: 60px;
    background: #fff;
    border-radius: 30px;
    z-index: 10;
}
/*.switcher div {width: 50%}*/
#active-tab {
    position: absolute;
    left: 0;
    top: 5px;
    background: #48a2d9;
    width: 50%;
    height: 50px;
    border-radius: 25px;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#active-tab.bgRight {
    left: 50%
}
.switcher .active {
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.switcher .flex-dimidia {
    padding-top: 21px;
    height: 60px;
    cursor: pointer;
}
#forusers, #forbusiness {
    margin: 40px auto;
    width: 1100px;
    text-align: center;
}
#forbusiness .flex-tertium > div,
#forusers .flex-tertium > div {
    line-height: 150px;
}
#forusers > div, #forbusiness > div {
    padding: 0 20px;
}
.advantages svg {
    vertical-align: middle;
}
.advantages h5 {
    margin: 20px auto;
}
.faq {
    margin: 200px auto;
}
.faq .flex-dimidia.tar {
    padding-right: 20px;
}
.faq .flex-dimidia.tal {
    padding-left: 20px;
}
.answer {
    margin: 10px 20px 20px;
    line-height: 1.3;
    padding: 10px 20px;
    background: #eaf0f5;
    border-radius: 20px;
}
.question-block {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.question {
    display: inline-block;
    margin: 5px 10px 5px 0;
    padding: 10px 20px;
    background: #e0effa;
    color: #48a2d9;
    border-radius: 20px;
    cursor: pointer;
}
.question:hover {
    background: #cde4f5;
}
footer {
    padding: 30px 0;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.4;
    color: #7995ab;
    text-align: center;
    background: #e0effa;
}
@media (max-width: 1560px) {
    .card-image img {
        width: 550px
    }
    .login-form {
        padding: 60px 160px 0 195px;
        width: 640px;
        height: 480px;
    }
    .login-form span {
        font-size: 13px;
    }
    span.lf-small {
        font-size: 16px;
    }
    span.lf-big {
        font-size: 37px;
    }
    input {
        margin: 13px auto;
    }
    .additional-text {
        margin-left: 5px;
        font-size: 14px;
    }
    .card-additional {
        width: 390px;
    }
    .login-form-container {
        padding-top: 0;
    }
    .first-scr .flex-dimidia {
        position: absolute;
    }
    .first-scr .card-flex {
        left: 0;
        width: 55%;
    }
    .first-scr .login-flex {
        right: 0;
        width: 55%;
        min-width: 640px;
    }
}
@media (max-width: 1100px) {
    #forusers, #forbusiness {width: 100%}
    .about > div {width: 60%}
    .card-image img {width: 500px;}
    .first-scr .card-flex {width: 50%}
}
@media (max-width: 940px) {
    .about > div {width: 80%}
    .first-scr .flex-dimidia {
        position: relative;
        right: auto;
        left: auto;
        width: auto;
    }
    .login-form-container {
        /*padding-top: 60px;*/
    }
    .login-form {
        margin: auto;
    }
    .first-scr {
        height: auto;
    }
    .card {padding-left: 40px;}
    .card-flex {
        /*order: 2;*/
    }
    .about {
        margin-top: 40px;
    }
    .figure-1 {
        right: -115vw;
        top: 25vh;
    }
    .figure-3 {
        right: 50vw;
    }
    .figure-2 {display: none}
    .join-step {flex: 33.33%}
}