<template>
    <div>
        <about></about>
        <join-steps></join-steps>
        <advantages></advantages>
        <faq></faq>
        <footer>
            <div>
                &copy; Copyright 2018 Comfort Card.<br>All rights reserved.
            </div>
        </footer>
    </div>
</template>

<script>
    import About from './MainPage-sections/About'
    import Advantages from './MainPage-sections/Advantages'
    import Faq from './MainPage-sections/Faq'
    import JoinSteps from './MainPage-sections/JoinSteps'
    import MainScreen from './MainPage-sections/MainScreen'

    export default {
        name: 'MainPage',
        components: {
            About, Advantages, Faq, JoinSteps, MainScreen
        }
    }
</script>