<template>
    <div>
        <div class="standard-block">
            <div class="sb-t acc-nums tac">
                <div class="block-title">Информация об аккаунте</div>
                <div class="block-content">
                    Номер карты: {{ user.card_number}} <br>
                    Тип Вашего аккаунта: {{ user.account_type }} <br>
                    Срок действия {{ user.validity }} дней
                </div>
            </div>
        </div>
        <div class="standard-block white-bg">
            <div>
                <div class="sb-c acc-nums tac">
                    <div class="acc-sum"> {{ user.own_bonus_funds }} баллов</div>
                    <div class="acc-desc">Бонусный счет</div>
                </div>
            </div>
        </div>
        <div class="standard-block white-bg">
            <div>
                <div class="sb-c acc-nums tac half">
                    <div class="acc-sum">{{ user.first_lvl_referrals_count }}</div>
                    <div class="acc-desc">Личных рефералов</div>
                </div>
                <div class="sb-c acc-nums tac half">
                    <div class="'acc-sum'">В разработке </div>
                    <div class="acc-desc">Всего рефералов</div>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
        <div class="standard-block">
            <div class="sb-t acc-nums tac">
                <div class="block-title">Последние новости</div>
                <router-link :to="'/news'" class="block-content">
                    <div>
                        <vue-loading :active="this.req.isLoading"></vue-loading>
                        <div class="news-block-title">{{ latestNews.title }}</div>
                        <div class="news-block-text" v-html="latestNews.content">
                        </div>
                    </div>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    import {Request} from "../../../classes/Request"
    import VueLoading from 'vue-element-loading'

    export default {
        name: 'AccountDetail',
        props: {
            user: Object,
        },
        components: {
            VueLoading,
        },

        data(){
            return {
                req: new Request(),
                latestNews: {}
            }
        },

        created(){
            let self = this
            this.req.get('/account-api/news/latest-first')
                .then(function(response){
                    self.latestNews = response
                })
        }
    }
</script>