<template>
    <div>
        <div class="standard-block white-bg" v-if="! userHaveCard">
            <div>
                <div class="card-bind-text">Для начала работы нужно приобрести карту</div>
                <div class="pack-price card-price">100 грн</div>
                <div class="tac btn-block">
                    <a href="javascript:void(0)" class="btn blue">Оплатить</a>
                    <br>
                    <br>
                    <a href="javascript:void(0)" @click="setCardExists()">Уже есть карта</a>
                    <br>
                </div>
            </div>
        </div>
        <div class="standard-block white-bg" v-if="userHaveCard">
            <div>
                <div class="card-bind-text">Привязать карту</div>
                <div><input class="card-bind-input" type="text" placeholder="8 цифр с вашей карты"></div>
                <div class="tac btn-block">
                    <a href="javascript:void(0)" class="btn blue btn-buy-card">Привязать</a>
                </div>
                <div class="tac btn-block">
                    <a href="javascript:void(0)" @click="setCardDoesntExists()" class="btn blue btn-buy-card">Отмена</a>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    export default {
        name: 'OrderCard',

        data(){
            return {
                userHaveCard: false,
            }
        },

        methods: {
            setCardExists() {
                this.userHaveCard = true
            },

            setCardDoesntExists() {
                this.userHaveCard = false
            },
        }
    }
</script>