<template>
    <div class="content">
        <vue-loading :active="this.req.isLoading"></vue-loading>

        <div class="standard-block white-bg" v-for="(account, index) in accounts" :key="index">
            <div>
                <div class="pack-title">{{ account.name }}</div>
                <div class="pack-desc-stroke">
                    Срок действия {{ account.validity }} дней
                </div>
                <div class="pack-desc-stroke">
                    Бонус за использование {{ account.min_own_bonus }}-{{ account.max_own_bonus }}%/день
                </div>
                <div class="pack-desc-stroke">
                    {{ account.referral_bonus }}% от привлеченных пользователей
                </div>

                <div class="pack-price">Цена {{ account.price * 28 }} грн</div>
                <a href="javascript:void(0)" @click="openModal(account)" class="btn-buy-pack">Приобрести</a>
            </div>
        </div>

        <div class="modal" :class="{'is-active': isOpen}">
            <div class="modal-background" @click="closeModal()"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Оплата пакета {{ accountType.name }}</p>
                    <button class="delete" aria-label="close" @click="closeModal()"></button>
                </header>
                <section class="modal-card-body">
                    <p>
                        Вы выбрали пакет {{ accountType.name }}. Чтобы оплатить нажмите на кнопку ниже.
                    </p>
                </section>
                <footer class="modal-card-foot">
                    <form ref="form" action="https://perfectmoney.is/api/step1.asp" method="POST">
                        <input type="hidden" name="PAYEE_ACCOUNT" value="U18503214">
                        <input type="hidden" name="PAYEE_NAME" value="Comfort Cards">
                        <input type="hidden" name="PAYMENT_AMOUNT" :value="accountType.price">
                        <input type="hidden" name="PAYMENT_UNITS" value="USD">
                        <input type="hidden" name="STATUS_URL"
                               value="http://comfcard/account-api/order/store-status">

                        <input type="hidden" name="PAYMENT_URL"
                               value="http://comfcard/account-api/order/success">

                        <input type="hidden" name="NOPAYMENT_URL"
                               value="http://comfcard/account-api/order/failed">

                        <input type="hidden" name="PAYMENT_ID" v-model="paymentId">

                        <input type="hidden" name="BAGGAGE_FIELDS"
                               value="_token">

                        <input type="hidden" name="_token" :value="token">
                    </form>
                    <button
                            class="button is-success"
                            :class="{'is-loading': orderReq.isLoading}"
                            @click="storeOrder(accountType.id)"
                    >Оплатить {{ accountType.price * 28 }} грн
                    </button>
                    <button class="button" @click="closeModal()">Закрыть</button>
                </footer>
            </div>
        </div>
    </div>
</template>


<script>
    import {Request} from "../../../classes/Request"
    import VueLoading from 'vue-element-loading'

    export default {
        name: 'OrderAccounts',
        components: {
            VueLoading
        },

        data() {
            return {
                accounts: {},
                accountType: {},
                req: new Request(),
                orderReq: new Request(),
                isOpen: false,
                paymentId: String,
                token: String
            }
        },

        created() {
            this.getAccountTypes()
            this.token = window.axios.defaults.headers.common['X-CSRF-TOKEN']
        },

        methods: {
            getAccountTypes()
            {
                let self = this
                this.req.get('/account-api/account-types')
                    .then(function (response) {
                        self.accounts = response
                    })
            },


            closeModal() {
                this.isOpen = false
            },

            openModal(accountType) {
                this.isOpen = true
                this.accountType = accountType
            },

            storeOrder(accountTypeId){
                let self = this
                this.orderReq.post('/account-api/order/store', {
                    account_type_id: accountTypeId
                })
                    .then(function(response){
                        self.paymentId = response.random_id
                    })
                    .then(function () {
                        self.$refs.form.submit()
                    })
            }
        }
    }
</script>