<template>
    <data-table :data="tableData"></data-table>
</template>

<script>
    import DataTable from '../components/DataTable'

    export default {
        name: 'Orders',

        components: {
            dataTable: DataTable
        },

        data() {
            return {
                tableData:{
                    tableName: 'Заказы',
                    itemName: 'Заказ',
                    columns: [
                        {label: 'ID', name: 'id'},
                        {label: 'Логин пользователя', name: 'login'},
                        {label: 'Email пользователя', name: 'email'},
                        {label: 'Тип пакета', name: 'account_type'},
                        {label: 'Статус заказа', name: 'status'},
                        {label: 'Создано', name: 'created_at'},
                    ],

                    fields: [
                        {
                            label: 'Статус заказа',
                            name: 'order_status_id',
                            type: 'select',
                            options: [
                                {value: 1, title: 'Принят'},
                                {value: 2, title: 'Обрабатывается'},
                                {value: 3, title: 'Закрыт'},
                            ],
                        }
                    ],

                    actions: ['edit'],
                    apiUrl: '/admin/api/orders',
                }
            }
        }
    }
</script>