<template>
    <data-table :data="data"></data-table>
</template>

<script>
    import DataTable from '../../components/DataTable'

    export default {
        components: {
            dataTable: DataTable
        },

        data() {
            return {
                data: {
                    tableName: 'Типы аккаунтов',
                    itemName: 'Тип аккаунта',
                    itemColumnNameForFormTitle: 'name',
                    columns: [
                        {label: 'ID', name: 'id', isEditable: false},
                        {label: 'Название', name: 'name', type: 'string'},
                        {label: 'Срок действия (дней)', name: 'validity', type: 'integer'},
                        {label: 'Цена ($)', name: 'price', type: 'integer'},
                        {label: 'Мин. личный % бонуса', name: 'min_own_bonus', type: 'float'},
                        {label: 'Макс. личный % бонуса', name: 'max_own_bonus', type: 'float'},
                        {label: 'Реферральный % бонуса', name: 'referral_bonus', type: 'integer'},
                        {label: 'Дополнительный % бонуса (2-10 уровни)', name: 'additional_referral_bonus', type: 'integer'},
                        {label: 'Допустимая сумма бонусов ($)', name: 'total_amount_own_bonus', type: 'integer'},
                    ],
                    actions: ['create', 'detail', 'edit'],
                    apiUrl: '/admin/api/account-types'
                }
            }
        },
    }
</script>