<template>
    <data-table :data="tableData"></data-table>
</template>

<script>
    import DataTable from '../../components/DataTable'

    export default {
        name: 'News',

        components: {
            dataTable: DataTable
        },

        data() {
            return {
                tableData:{
                    tableName: 'Новости',
                    itemName: 'Новость',
                    itemColumnNameForFormTitle: 'title',
                    columns: [
                        {label: 'ID', name: 'id'},
                        {label: 'Заголовок', name: 'title'},
                        {label: 'Контент', name: 'content'},
                        {label: 'Создано', name: 'created_at'},
                    ],

                    fields: [
                        {label: 'Заголовок', name: 'title'},
                        {label: 'Контент', name: 'content', type: 'editor'}
                    ],

                    actions: ['create', 'edit'],
                    apiUrl: '/admin/api/news',
                }
            }
        }
    }
</script>