<template>
    <data-table :data="tableData"></data-table>
</template>

<script>
    import DataTable from '../../components/DataTable'

    export default {
        name: 'TransactionTypes',

        components: {
            dataTable: DataTable
        },

        data() {
            return {
                tableData:{
                    tableName: 'Типы транзакций',
                    itemName: 'Тип транзакции',
                    itemColumnNameForFormTitle: 'title',
                    columns: [
                        {label: 'ID', name: 'id'},
                        {label: 'Название', name: 'title'},

                    ],

                    fields: [
                        {label: 'Заголовок', name: 'title'},
                    ],

                    actions: ['create', 'edit'],
                    apiUrl: '/admin/api/transaction-types',
                }
            }
        }
    }
</script>