<template>
    <data-table :data="tableData"></data-table>
</template>

<script>
    import DataTable from '../../components/DataTable'

    export default {
        components: {
            dataTable: DataTable
        },

        data() {
            return {
                tableData: {
                    tableName: 'Пользователи',
                    itemName: 'Пользователь',
                    itemColumnNameForFormTitle: 'login',
                    columns: [
                        {label: 'ID', name: 'id'},
                        {label: 'Email подтвержден', name: 'verified', type: 'boolean'},
                        {label: 'Логин', name: 'login'},
                        {label: 'Номер карты', name: 'card_number'},
                        {label: 'Тип аккаунта', name: 'account_type'},
                        {label: 'Оплачен', name: 'has_been_paid_at'},
                        {label: 'Реферралов 1го уровня', name: 'first_lvl_referrals_count'},
                        {label: 'Начислено бонусов', name: 'own_bonus_funds'},
                        {label: 'Начисление активно', name: 'own_bonus_awarding_is_active', type: 'boolean'},
                    ],
                    fields: [
                        {
                            label: 'Номер карты',
                            name: 'card_number',
                            type: 'integer',
                        },
                        {
                            label: 'Тарифный план',
                            name: 'account_type_id',
                            type: 'select',
                            options: [
                                {value: 1, title: 'Базовый'},
                                {value: 2, title: 'Продвинутый'},
                                {value: 3, title: 'Премиум'},
                            ],
                        }
                    ],
                    actions: ['edit'],
                    apiUrl: '/admin/api/users'
                },
            }
        }
    }
</script>